{% extends 'regilogin.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-b-160 p-t-50">
				<form class="login100-form validate-form" method="post">
					{{ form_start(registrationForm) }}

					<span class="login100-form-title p-b-43">
						S'incrire ici
					</span>

					<div class="wrap-input100 rs1 validate-input" data-validate="Username is required">
						{{ form_row(registrationForm.username) }}
					</div>


					<div class="wrap-input100 rs2 validate-input" data-validate="Mail is required">
						{{ form_row(registrationForm.email) }}
					</div>

					<div class="wrap-input100 rs2 validate-input" data-validate="Password is required">
						{{ form_row(registrationForm.plainPassword) }}
					</div>

					{{ form_row(registrationForm.agreeTerms) }}

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							S'inscrire
						</button>
					</div>

					<div class="text-center w-full p-t-23">
						<a href="{{path('app_login')}}" class="txt1">
							Déjà un compte, cliquez ici !
						</a>
					</div>
					{{ form_end(registrationForm) }}
				</form>
			</div>
		</div>
	</div>
{% endblock %}
