{% extends 'panelbase.html.twig' %}

{% block title %}Panel Admin{% endblock %}

{% block body %}
<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Informations</a>
</div>
<div class="tab-content" id="v-pills-tabContent">
  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
  <div class="container emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="profile-head">
                                <h5>
                                    {{ app.user.username }}
                                </h5>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">A Propos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-work">
                        <p>Liens Utiles</p>
                        <a href="">Serveur Discord</a><br/>
                        <a href="{{path('panel_member')}}">Panel Membre</a><br/>
                        <a href="{{path('Accueil')}}">Accueil</a><br/>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Pseudonyme</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ app.user.username }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Email</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ app.user.email }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Vérifié :</label>
                                        </div>
                                        <div class="col-md-6">
                                        {% if app.user.isVerified == 0 %}
                                            <p>non</p>
                                        {% elseif app.user.isVerified == 1 %}
                                            <p>oui</p>
                                        {% endif %}
                                        </div>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>       
        <div class="table-responsive">
            <table class="table table-bordered table-dark">
                <thead>

                    <tr>
                    <th scope="col">N° Ticket</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Label</th>
                    </tr>
                </thead>
                <tbody>
                {% for ticket in tickets %}
                <tr>
                <td>{{ticket.id}}</td>
                <td>{{ticket.title}}</td>
                <td>{{ticket.label}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>    
    </div>
  </div>
{% endblock %}
